.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.description {
  margin: 20%;
}

.description span {
  font-size: 50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.description p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imageBox {
  overflow: hidden;
  position: relative;
}
body {
    margin: 0;
    padding: 0;
}